*.conf linguist-language=INI
*.kvconfig linguist-language=INI
dolphinrc linguist-language=INI

*.conf linguist-detectable
*.toml linguist-detectable
*.json linguist-detectable
*.md linguist-detectable
