* {
    border: none;
    border-radius: 0;
    font-family: "RobotoMono Nerd Font", monospace;
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background-color: #2c2c2c;
    border-bottom: 2px solid #3c3836;
    color: #fbf1c7;
}

#workspaces,
#window,
#clock,
#network,
#battery {
    margin: 4px 3px;
    padding: 0 12px;
    background-color: #3c3836;
    border-radius: 6px;
}

#workspaces {
    background: #3c3836;
}

#workspaces button {
    padding: 0 8px;
    color: #a89984;
    background: transparent;
}

#workspaces button.focused,
#workspaces button.active {
    color: #fabd2f;
    background: #504945;
    border-radius: 4px;
}

#workspaces button.urgent {
    color: #fb4934;
}

#window {
    color: #83a598;
}

#clock {
    background-color: #d3869b;
    color: #282828;
}

#network {
    background-color: #8ec07c;
    color: #282828;
}

#network.disconnected {
    background-color: #fb4934;
    color: #fbf1c7;
}

#battery {
    background-color: #b8bb26;
    color: #282828;
}

#battery.charging,
#battery.plugged {
    background-color: #fabd2f;
    color: #282828;
}

#battery.warning:not(.charging) {
    background-color: #fe8019;
    color: #282828;
}

#battery.critical:not(.charging) {
    background-color: #fb4934;
    color: #fbf1c7;
}

#custom-vdesk {
    margin: 4px 3px;
    padding: 0 12px;
    background-color: #3c3836;
    border-radius: 6px;
    color: #fabd2f;
}
