/* ==UserStyle==
@name           minecraft.wiki
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("minecraft.wiki") {
    .mw-body,
    .parsoid-body,
    div#content {
        background-color: #282828;
    }
    .toc,
    .toccolours,
    .msgbox-blue,
    .msgbox-green,
    .msgbox-purple,
    pre,
    code,
    .mw-code,
    .mw-content-ltr figure[typeof~="mw:File/Thumb"] > figcaption,
    .mw-content-ltr figure[typeof~="mw:File/Frame"] > figcaption,
    .notaninfobox {
        background-color: #3c3836 !important;
    }
    .alternaterows tr:nth-child(2n),
    .infobox-rows tr:nth-child(2n) {
        background-color: #504945 !important;
    }
    .wikitable,
    .wikitable *,
    .wikitable > tr > th,
    .wikitable > * > tr > th {
        background-color: #928374 !important;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .mw-body,
    .parsoid-body,
    .tocnumber,
    pre,
    code,
    .mw-code,
    figcaption {
        color: #ebdbb2 !important;
    }
    a,
    .toctogglelabel,
    .oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive
        > .oo-ui-buttonElement-button,
    .infobox-imagearea ul.tabbernav > li > a,
    .toctogglelabel,
    .oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive
        > .oo-ui-buttonElement-button,
    .infobox-imagearea ul.tabbernav > li > a,
    .infobox-imagearea ul.tabbernav li a:hover,
    .infobox-imagearea ul.tabbernav li.tabberactive a {
        color: #83a598 !important;
    }
    body {
        background-image: none !important;
    }
}
